body{
    background-image: url(tuah.png);
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;   
    margin: 0%;     
}

.welcome_kotak{
    border: solid rgb(49, 214, 255);
    backdrop-filter: blur(1vh);
    border-radius: 1vw;
    margin-top: 7%;
    margin-left: 31% ;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 600;
    padding: 1% 9% 4% 9%;
    width:max-content;
    align-items: center;
    text-align: justify;
    border-style: groove;
    background-color: rgba(255, 255, 255, 0.301);
    animation: FadeIn 5s;   

  }

.welcome{
    color: rgb(0, 0, 0);
    margin: 0%;
}

.nama{
    color: rgb(0, 0, 0);
    margin-bottom:0% ;
    
}

.pass{
    color: rgb(0, 0, 0);
    margin-bottom:0% ;
}

img{
    margin: 0%;
    justify-content:center;
    width: 200px;
    padding-left: 1.5vw;
    height: 150px;
}

button{
    border: solid rgb(49, 214, 255);
    background-color: rgb(49, 214, 255);
    margin-top: 5%;
    color: rgb(37, 36, 36);
    border-radius: 0.5vw;
}

button:hover{
    transition: 0.2s;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

input{
    border:solid rgb(49, 214, 255) ;
    background-color: rgba(240, 248, 255, 0.288);
}